

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


body {
  background-color: #eee;
}

.memberContainer {
  outline: 1px solid #aaa;
  width: 350px;
  height: 130px;
  background-color: #fff;
  float: left;
  margin: 5px;
}

.memberContainer img {
  float: left;
  margin: 10px;
}

.memberContainer ul {
  list-style-type: none;
  margin-bottom: 0;
}

.memberContainer button {
  float: right;
  margin: 10px;
}

#addMember label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
  line-height: 25px;
}

#addMember label, #addMember input {
  display: block;
  margin-bottom: 10px;
  float: left;
}

#addMember label[for="title"], #addMember label[for="releaseDate"] {
  clear: both;
}

#addMember button {
  display: block;
  margin: 5px 20px 10px 10px;
  float: right;
  clear: both;
}

#addMember div {
  width: 650px;
}

#addMember div:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
  line-height: 0;
}
